# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Resultados (descomente se não quiser versionar)
# results/
# images/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Arquivos grandes
*.psd
*.ai
